@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {

    height: 100vh;
    width: 100vw;
    /*  
 background-image: linear-gradient(to left bottom, #01363e, #185057, #2e6b71, #45878b, #5ca5a5);  */

    background-image: linear-gradient(to left bottom, #064d55, #064d55, #064d55, #064d55, #064d55, #0e535a, #16585f, #1c5e64, #2a6b6f, #37787b, #438586, #509292);

}

.main_img {
    margin-top: 50px;
    height: 70vh;
    width: 50vw;

}
.main_img2 {
 
    height: 80vh;
    width: 50vw;

}


.dummy {
    color: #d2ebeb;
  

}

.spl_link {
    background: transparent;
    font-size: 18px;
    text-decoration: underline;
    color: #8cc7ce;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 35px;
    border: none;
    outline: none;
    cursor: pointer;

}

.spl_line1 {
    height: 60px;
    width: 1.7px;
    background-color: black;
    margin: 0px 20px;

}

.login_bt {
    margin-left: 100px;
    list-style: none;
    background-color: white;
    padding: 6px 20px;
    border-radius: 20px;
    cursor:pointer;
}

.login_bt:hover {


    transform: scale(1.09, 1.09);
    transition: 0.5s ease-in-out transform;

}

.login_bt h3 {
    font-family: 'Poppins', sans-serif;
    color: #002b2f;

}

.totalFlex {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Flexv2 {
    display: flex;


}